html{
    background-color: rgb(177, 216, 214);
}

.nav a {
    text-decoration: none;
    color:brown;
}

h1 , h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    display:flex;
    justify-content: space-between;
}




